<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Hike</title>
</head>
<body>
  <h1>Hiking</h1>
  <img src="../images/hike.jpg" alt="Hike" />
  <p>Stay out in the nature and be able to turn off from the busy life is energizing for me.</p>
</body>
</html>
