<%- include('partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <title>My Hobbies Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Hobbies Website</h1>
    <p>Welcome, here I share my favorite hobbies!</p>
  </body>
</html>
