<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Read</title>
</head>
<body>
  <h1>Reading</h1>
  <img src="../images/book.jpg" alt="Books" />
  <p>Reading is a way to both, learn new things and being transported to a magical new world.</p>
</body>
</html>

